<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://use.fontawesome.com/c8b46edb3a.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="app__container">
            <section class="manu__container">
                <div class="menu__btn"></div>
                <div class="menu__btn"></div>
                <div class="menu__btn"></div>
                <div class="menu__btn"></div>
            </section>
            <div class="left__cover"></div>
            <div class="right__cover"></div>
            <div class="icon__container">
                <div class="icon">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
